bleak==0.22.3
pyobjc-core==10.3.2; sys_platform == "darwin"
pyobjc-framework-Cocoa==10.3.2; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==10.3.2; sys_platform == "darwin"
pyobjc-framework-libdispatch==10.3.2; sys_platform == "darwin"
